<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqd.dao.userBeanMapper">


    <resultMap id="BaseResultMap" type="com.xqd.entity.userBean">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="lucky_number" jdbcType="INTEGER" property="luckyNumber"/>

    </resultMap>

    <update id="updateUser" parameterType="java.util.Map">
        UPDATE
            b_user
        SET
            lucky_number = #{number},
            `name` = #{name}
        WHERE
            id = #{userId}
    </update>


</mapper>